streamlit
scikit-learn
pandas
sentencepiece
torch==2.0.0
transformers
tweet-preprocessor
joblib
# tensorflow
moviepy
matplotlib
seaborn
facenet-pytorch
opencv-python
fastapi[standard]
uvicorn
jinja2
# facenet_pytorch